<!DOCTYPE html><html lang="en" data-bs-theme="light" data-pwa="true">
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">


    
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-42QLWK8ESK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-42QLWK8ESK');
</script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6790b87e825083258e090d34/1ii6l1ckk';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->


    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    <title>FIKA | Electronics Store</title>
    <meta name="description" content="Cartzilla - Multipurpose E-Commerce Bootstrap HTML Template">
    <meta name="keywords" content="online shop, e-commerce, online store, market, multipurpose, product landing, cart, checkout, ui kit, light and dark mode, bootstrap, html5, css3, javascript, gallery, slider, mobile, pwa">
    <meta name="author" content="Createx Studio">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" href="/theme/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/theme/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="/theme/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="/theme/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="/theme/assets/icons/cartzilla-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="/theme/assets/icons/cartzilla-icons.min.css">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/theme/assets/vendor/swiper/swiper-bundle.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="/theme/assets/css/theme.min.css" as="style">
    <link rel="preload" href="/theme/assets/css/theme.rtl.min.css" as="style">
    <link rel="stylesheet" href="/theme/assets/css/theme.min.css" id="theme-styles">

    <!-- Customizer -->
    <script src="/theme/assets/js/customizer.min.js"></script>
  </head>


  <!-- Body -->
  <body>

    <!-- Customizer offcanvas -->
    <div class="offcanvas offcanvas-end" id="customizer" tabindex="-1">
      <div class="offcanvas-header border-bottom">
        <h4 class="h5 offcanvas-title">Customize theme</h4>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <!-- Customizer settings -->
        <div class="customizer-collapse collapse show" id="customizerSettings">

          <!-- Colors -->
          <div class="pb-4 mb-2">
            <div class="d-flex align-items-center mb-3">
              <i class="ci-paint text-body-tertiary fs-5 me-2"></i>
              <h5 class="fs-lg mb-0">Colors</h5>
            </div>
            <div class="row row-cols-2 g-3" id="theme-colors">
              <div class="col">
                <h6 class="fs-sm mb-2">Primary</h6>
                <div class="color-swatch d-flex border rounded gap-3 p-2" id="theme-primary" data-color-labels="[&quot;theme-primary&quot;, &quot;primary&quot;, &quot;primary-rgb&quot;]">
                  <input type="text" class="form-control bg-transparent border-0 rounded-0 p-1" value="#f55266">
                  <label for="primary" class="ratio ratio-1x1 flex-shrink-0 w-100 cursor-pointer rounded-circle" style="max-width: 38px; background-color: #f55266"></label>
                  <input type="color" class="visually-hidden" id="primary" value="#f55266">
                </div>
              </div>
              <div class="col">
                <h6 class="fs-sm mb-2">Success</h6>
                <div class="color-swatch d-flex border rounded gap-3 p-2" id="theme-success" data-color-labels="[&quot;theme-success&quot;, &quot;success&quot;, &quot;success-rgb&quot;]">
                  <input type="text" class="form-control bg-transparent border-0 rounded-0 p-1" value="#33b36b">
                  <label for="success" class="ratio ratio-1x1 flex-shrink-0 w-100 cursor-pointer rounded-circle" style="max-width: 38px; background-color: #33b36b"></label>
                  <input type="color" class="visually-hidden" id="success" value="#33b36b">
                </div>
              </div>
              <div class="col">
                <h6 class="fs-sm mb-2">Warning</h6>
                <div class="color-swatch d-flex border rounded gap-3 p-2" id="theme-warning" data-color-labels="[&quot;theme-warning&quot;, &quot;warning&quot;, &quot;warning-rgb&quot;]">
                  <input type="text" class="form-control bg-transparent border-0 rounded-0 p-1" value="#fc9231">
                  <label for="warning" class="ratio ratio-1x1 flex-shrink-0 w-100 cursor-pointer rounded-circle" style="max-width: 38px; background-color: #fc9231"></label>
                  <input type="color" class="visually-hidden" id="warning" value="#fc9231">
                </div>
              </div>
              <div class="col">
                <h6 class="fs-sm mb-2">Danger</h6>
                <div class="color-swatch d-flex border rounded gap-2 p-2" id="theme-danger" data-color-labels="[&quot;theme-danger&quot;, &quot;danger&quot;, &quot;danger-rgb&quot;]">
                  <input type="text" class="form-control bg-transparent border-0 rounded-0 p-1" value="#f03d3d">
                  <label for="danger" class="ratio ratio-1x1 flex-shrink-0 w-100 cursor-pointer rounded-circle" style="max-width: 38px; background-color: #f03d3d"></label>
                  <input type="color" class="visually-hidden" id="danger" value="#f03d3d">
                </div>
              </div>
              <div class="col">
                <h6 class="fs-sm mb-2">Info</h6>
                <div class="color-swatch d-flex border rounded gap-2 p-2" id="theme-info" data-color-labels="[&quot;theme-info&quot;, &quot;info&quot;, &quot;info-rgb&quot;]">
                  <input type="text" class="form-control bg-transparent border-0 rounded-0 p-1" value="#2f6ed5">
                  <label for="info" class="ratio ratio-1x1 flex-shrink-0 w-100 cursor-pointer rounded-circle" style="max-width: 38px; background-color: #2f6ed5"></label>
                  <input type="color" class="visually-hidden" id="info" value="#2f6ed5">
                </div>
              </div>
            </div>
          </div>

          <!-- Direction -->
          <div class="pb-4 mb-2">
            <div class="d-flex align-items-center pb-1 mb-2">
              <i class="ci-sort text-body-tertiary fs-lg me-2" style="transform: rotate(90deg)"></i>
              <h5 class="fs-lg mb-0">Direction</h5>
            </div>
            <div class="d-flex align-items-center justify-content-between border rounded p-3">
              <div class="me-3">
                <h6 class="mb-1">RTL</h6>
                <p class="fs-sm mb-0">Change text direction</p>
              </div>
              <div class="form-check form-switch m-0">
                <input type="checkbox" class="form-check-input" role="switch" id="rtl-switch">
              </div>
            </div>
            <div class="alert alert-info p-2 mt-2 mb-0">
              <div class="d-flex text-body-emphasis fs-xs py-1 pe-1">
                <i class="ci-info text-info fs-lg mb-2 mb-sm-0" style="margin-top: .125rem"></i>
                <div class="ps-2">To switch the text direction of your webpage from LTR to RTL, please consult the detailed instructions provided in the relevant section of our documentation.</div>
              </div>
            </div>
          </div>

          <!-- Border width -->
          <div class="pb-4 mb-2">
            <div class="d-flex align-items-center pb-1 mb-2">
              <i class="ci-menu text-body-tertiary fs-lg me-2"></i>
              <h5 class="fs-lg mb-0">Border width, px</h5>
            </div>
            <div class="slider-input d-flex align-items-center gap-3 border rounded p-3" id="border-input">
              <input type="range" class="form-range" min="0" max="10" step="1" value="1">
              <input type="number" class="form-control" id="border-width" min="0" max="10" value="1" style="max-width: 5.5rem">
            </div>
          </div>

          <!-- Rounding -->
          <div class="d-flex align-items-center pb-1 mb-2">
            <i class="ci-maximize text-body-tertiary fs-lg me-2"></i>
            <h5 class="fs-lg mb-0">Rounding, rem</h5>
          </div>
          <div class="slider-input d-flex align-items-center gap-3 border rounded p-3">
            <input type="range" class="form-range" min="0" max="5" step=".05" value="0.5">
            <input type="number" class="form-control" id="border-radius" min="0" max="5" step=".05" value="0.5" style="max-width: 5.5rem">
          </div>
        </div>

        <!-- Customizer code -->
        <div class="customizer-collapse collapse" id="customizerCode">
          <div class="nav mb-3">
            <a class="nav-link animate-underline fs-base p-0" href=".html" data-bs-toggle="collapse" aria-expanded="true" aria-controls="customizerSettings customizerCode">
              <i class="ci-chevron-left fs-lg ms-n1 me-1"></i>
              <span class="animate-target">Back to settings</span>
            </a>
          </div>
          <p class="fs-sm pb-1">To apply the provided styles to your webpage, enclose them within a <code>&lt;style&gt;</code> tag and insert this tag into the <code>&lt;head&gt;</code> section of your HTML document after the following link to the main stylesheet:<br><code>&lt;link href="/theme/assets/css/theme.min.css"&gt;</code></p>
          <div class="position-relative bg-body-tertiary rounded overflow-hidden pt-3">
            <div class="position-absolute top-0 start-0 w-100 p-3">
              <button type="button" class="btn btn-sm btn-outline-dark w-100" data-copy-text-from="#generated-styles" data-done-label="Code copied">
                <i class="ci-copy fs-sm me-1"></i>
                Copy code
              </button>
            </div>
            <pre class="text-wrap bg-transparent border-0 fs-xs text-body-emphasis p-4 pt-5" id="generated-styles"></pre>
          </div>
        </div>
      </div>

      <!-- Offcanvas footer (Action buttons) -->
      <div class="offcanvas-header border-top gap-3 d-none" id="customizer-btns">
        <button type="button" class="btn btn-lg btn-secondary w-100 fs-sm" id="customizer-reset">
          <i class="ci-trash fs-lg me-2 ms-n1"></i>
          Reset
        </button>
        <button class="btn btn-lg btn-primary hiding-collapse-toggle w-100 fs-sm collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".customizer-collapse" aria-expanded="false" aria-controls="customizerSettings customizerCode">
          <i class="ci-code fs-lg me-2 ms-n1"></i>
          Show code
        </button>
      </div>
    </div>


    <!-- Shopping cart offcanvas -->
<%- include ('./shoppingCart.ejs') %>
   


    <!-- Navigation bar (Page header) -->
    <header class="navbar navbar-expand-lg navbar-dark bg-dark d-block z-fixed p-0" data-sticky-navbar="{&quot;offset&quot;: 500}">
      <div class="container d-block py-1 py-lg-3" data-bs-theme="dark">
        <div class="navbar-stuck-hide pt-1"></div>
        <div class="row flex-nowrap align-items-center g-0">
          <div class="col col-lg-3 d-flex align-items-center">

            <!-- Mobile offcanvas menu toggler (Hamburger) -->
            <button type="button" class="navbar-toggler me-4 me-lg-0" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar brand (Logo) -->
            <a href="/" class="navbar-brand me-0">
             
             <img src="/images/logo.png" style="width: 150px;height: 100px;object-fit: cover;">
            </a>
          </div>
          <div class="col col-lg-9 d-flex align-items-center justify-content-end">

            <!-- Search visible on screens > 991px wide (lg breakpoint) -->
            <div class="position-relative flex-fill d-none d-lg-block pe-4 pe-xl-5">
              <i class="ci-search position-absolute top-50 translate-middle-y d-flex fs-lg text-white ms-3"></i>
              <input type="search" class="form-control form-control-lg form-icon-start border-white rounded-pill" placeholder="Search the products">
            </div>

            <!-- Sale link visible on screens > 1200px wide (xl breakpoint) -->
            <a class="d-none d-xl-flex align-items-center text-decoration-none animate-shake navbar-stuck-hide me-3 me-xl-4 me-xxl-5" href="/">
              <div class="btn btn-icon btn-lg fs-lg text-primary bg-body-secondary bg-opacity-75 pe-none rounded-circle">
                <i class="ci-phone animate-target"></i>
              </div>
              <div class="ps-2 text-nowrap">
                <div class="fs-xs text-body">Customer Care Number</div>
                <div class="fw-medium text-white">+91-895-009-4006</div>
              </div>
            </a>

            <!-- Button group -->
            <div class="d-flex align-items-center">

              <!-- Navbar stuck nav toggler -->
              <button type="button" class="navbar-toggler d-none navbar-stuck-show me-3" data-bs-toggle="collapse" data-bs-target="#stuckNav" aria-controls="stuckNav" aria-expanded="false" aria-label="Toggle navigation in navbar stuck state">
                <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Theme switcher (light/dark/auto) -->
              <div class="dropdown">
                <button type="button" class="theme-switcher btn btn-icon btn-lg btn-outline-secondary fs-lg border-0 rounded-circle animate-scale" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle theme (light)">
                  <span class="theme-icon-active d-flex animate-target">
                    <i class="ci-sun"></i>
                  </span>
                </button>
                <ul class="dropdown-menu" style="--cz-dropdown-min-width: 9rem">
                  <li>
                    <button type="button" class="dropdown-item active" data-bs-theme-value="light" aria-pressed="true">
                      <span class="theme-icon d-flex fs-base me-2">
                        <i class="ci-sun"></i>
                      </span>
                      <span class="theme-label">Light</span>
                      <i class="item-active-indicator ci-check ms-auto"></i>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">
                      <span class="theme-icon d-flex fs-base me-2">
                        <i class="ci-moon"></i>
                      </span>
                      <span class="theme-label">Dark</span>
                      <i class="item-active-indicator ci-check ms-auto"></i>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="false">
                      <span class="theme-icon d-flex fs-base me-2">
                        <i class="ci-auto"></i>
                      </span>
                      <span class="theme-label">Auto</span>
                      <i class="item-active-indicator ci-check ms-auto"></i>
                    </button>
                  </li>
                </ul>
              </div>

              <!-- Search toggle button visible on screens < 992px wide (lg breakpoint) -->
              <button type="button" class="btn btn-icon btn-lg fs-xl btn-outline-secondary border-0 rounded-circle animate-shake d-lg-none" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-expanded="false" aria-controls="searchBar" aria-label="Toggle search bar">
                <i class="ci-search animate-target"></i>
              </button>

              <!-- Account button visible on screens > 768px wide (md breakpoint) -->

			  <% if(login == true){ %>
				<a class="btn btn-icon btn-lg fs-lg btn-outline-secondary border-0 rounded-circle animate-shake d-none d-md-inline-flex" href="/myaccount">
					<i class="ci-user animate-target"></i>
					<span class="visually-hidden">Account</span>
				  </a>
	

			  <% } else { %>
				<a class="btn btn-icon btn-lg fs-lg btn-outline-secondary border-0 rounded-circle animate-shake d-none d-md-inline-flex" href="/login">
					<i class="ci-user animate-target"></i>
					<span class="visually-hidden">Account</span>
				  </a>
	

				<% } %>


              
              <!-- Wishlist button visible on screens > 768px wide (md breakpoint) -->
              <a class="btn btn-icon btn-lg fs-lg btn-outline-secondary border-0 rounded-circle animate-pulse d-none d-md-inline-flex" href="/view-wishlist">
                <i class="ci-heart animate-target"></i>
                <span class="visually-hidden">Wishlist</span>
              </a>

              <!-- Cart button -->
              <button type="button" class="btn btn-icon btn-lg btn-secondary position-relative rounded-circle ms-2" data-bs-toggle="offcanvas" data-bs-target="#shoppingCart" aria-controls="shoppingCart" aria-label="Shopping cart">
                <span class="position-absolute top-0 start-100 mt-n1 ms-n3 badge text-bg-success border border-3 border-dark rounded-pill" style="--cz-badge-padding-y: .25em; --cz-badge-padding-x: .42em"><%=cartData.cartItems.length%></span>
                <span class="position-absolute top-0 start-0 d-flex align-items-center justify-content-center w-100 h-100 rounded-circle animate-slide-end fs-lg">
                  <i class="ci-shopping-cart animate-target ms-n1"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-stuck-hide pb-1"></div>
      </div>

      <!-- Search visible on screens < 992px wide (lg breakpoint). It is hidden inside collapse by default -->
      <div class="collapse position-absolute top-100 z-2 w-100 bg-dark d-lg-none" id="searchBar">
        <div class="container position-relative my-3" data-bs-theme="dark">
          <i class="ci-search position-absolute top-50 translate-middle-y d-flex fs-lg text-white ms-3"></i>
          <input type="search" class="form-control form-icon-start border-white rounded-pill" placeholder="Search the products" data-autofocus="collapse">
        </div>
      </div>

      <!-- Main navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
      <div class="collapse navbar-stuck-hide" id="stuckNav">
        <nav class="offcanvas offcanvas-start" id="navbarNav" tabindex="-1" aria-labelledby="navbarNavLabel">
          <div class="offcanvas-header py-3">
            <h5 class="offcanvas-title" id="navbarNavLabel">Browse FIKA</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body py-3 py-lg-0">
            <div class="container px-0 px-lg-3">
              <div class="row">

                <!-- Categories mega menu -->
                <div class="col-lg-3">
                  <div class="navbar-nav">
                    <div class="dropdown w-100">

                      <!-- Buttton visible on screens > 991px wide (lg breakpoint) -->
                      <div class="cursor-pointer d-none d-lg-block" data-bs-toggle="dropdown" data-bs-trigger="hover" data-bs-theme="dark">
                        <a class="position-absolute top-0 start-0 w-100 h-100" href="/">
                          <span class="visually-hidden">Categories</span>
                        </a>
                        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle w-100 rounded-bottom-0 justify-content-start pe-none">
                          <i class="ci-grid fs-lg"></i>
                          <span class="ms-2 me-auto">Categories</span>
                        </button>
                      </div>

                      <!-- Buttton visible on screens < 992px wide (lg breakpoint) -->
					  <% for(i=0;i<result[0].length;i++) { %>

						<!-- Buttton visible on screens < 992px wide (lg breakpoint) -->
						<button type="button" class="btn btn-lg btn-secondary w-100 justify-content-start d-lg-none mb-2"  data-bs-auto-close="outside">
						  <a href="/category?id=<%=result[0][i].id%>" style="text-decoration: none;">
							  <img src="/images/<%=result[0][i].image%>" style="width: 30px;">
						  
							  <span class="ms-2 me-auto"><%=result[0][i].name%></span>
						  <i class="ci-chevron-right fs-base ms-auto me-n1"></i>
  
					  </a>
						</button>
  
						<% } %>
  

                      <!-- Mega menu -->
                      <ul class="dropdown-menu dropdown-menu-static w-100 rounded-top-0 rounded-bottom-4 py-1 p-lg-1" style="--cz-dropdown-spacer: 0; --cz-dropdown-item-padding-y: .625rem; --cz-dropdown-item-spacer: 0">
                        <li class="d-lg-none pt-2">
                          <a class="dropdown-item fw-medium" href="shop-categories-electronics.html">
                            <i class="ci-grid fs-xl opacity-60 pe-1 me-2"></i>
                            All Categories
                            <i class="ci-chevron-right fs-base ms-auto me-n1"></i>
                          </a>
                        </li>
                        <!-- <li class="dropend position-static">
                          <div class="position-relative rounded pt-2 pb-1 px-lg-2" data-bs-toggle="dropdown" data-bs-trigger="hover">
                            <a class="dropdown-item fw-medium stretched-link d-none d-lg-flex" href="/">
                              <i class="ci-computer fs-xl opacity-60 pe-1 me-2"></i>
                              <span class="text-truncate">Computers &amp; Accessories</span>
                              <i class="ci-chevron-right fs-base ms-auto me-n1"></i>
                            </a>
                            <div class="dropdown-item fw-medium text-wrap stretched-link d-lg-none">
                              <i class="ci-computer fs-xl opacity-60 pe-1 me-2"></i>
                              Computers &amp; Accessories
                              <i class="ci-chevron-down fs-base ms-auto me-n1"></i>
                            </div>
                          </div>
                          <div class="dropdown-menu rounded-4 p-4" style="top: 1rem; height: calc(100% - .1875rem); --cz-dropdown-spacer: .3125rem; animation: none;">
                            <div class="d-flex flex-column flex-lg-row h-100 gap-4">
                              <div style="min-width: 194px">
                                <div class="d-flex w-100">
                                  <a class="animate-underline animate-target d-inline h6 text-dark-emphasis text-decoration-none text-truncate" href="/">Computers</a>
                                </div>
                                <ul class="nav flex-column gap-2 mt-n2">
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Laptops &amp; Tablets</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Desktop Computers</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">External Components</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Interal Components</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Networking Products (NAS)</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Single Board Computers</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Desktop Barebones</a>
                                  </li>
                                </ul>
                              </div>
                              <div style="min-width: 194px">
                                <div class="d-flex w-100">
                                  <a class="animate-underline animate-target d-inline h6 text-dark-emphasis text-decoration-none text-truncate" href="/">Accessories</a>
                                </div>
                                <ul class="nav flex-column gap-2 mt-n2">
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Monitors</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Bags, Cases &amp; Sleeves</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Batteries</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Charges &amp; Adapters</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Cooling Pads</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Mounts</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Replacement Screens</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Security Locks</a>
                                  </li>
                                  <li class="d-flex w-100 pt-1">
                                    <a class="nav-link animate-underline animate-target d-inline fw-normal text-truncate p-0" href="/">Stands</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="d-none d-lg-block">
                                <div class="d-none d-xl-block" style="width: 284px"></div>
                                <div class="d-xl-none" style="width: 240px"></div>
                                <div class="position-relative d-flex flex-column justify-content-center h-100 bg-body-secondary rounded-5 py-4 px-3">
                                  <div class="text-center px-2">
                                    <span class="badge bg-danger bg-opacity-10 text-danger fs-sm rounded-pill mb-2">Save up to $400</span>
                                    <div class="fs-sm text-light-emphasis mb-2">Starts from <del>$1,599.00</del> $1,399.00</div>
                                    <div class="h2 mb-4">Surface Laptop Studio</div>
                                  </div>
                                  <img src="/theme/assets/img/mega-menu/electronics/01.png" width="252" alt="Surface Laptop Studio">
                                  <div class="text-center mt-4">
                                    <a class="btn btn-sm btn-primary stretched-link" href="/">Shop now</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li> -->
                       


						<% for(i=0;i<result[0].length;i++) { %>

						<li class="dropend position-static">
							<div class="position-relative rounded pt-2 pb-1 px-lg-2" data-bs-toggle="dropdown" data-bs-trigger="hover">
							  <a class="dropdown-item fw-medium stretched-link d-none d-lg-flex" href="/category?id=<%=result[0][i].id%>">
								<img src="/images/<%=result[0][i].image%>" style="width: 30px;">
								<span class="text-truncate" style="margin-left: 10px;"> <%=result[0][i].name%></span>
								<i class="ci-chevron-right fs-base ms-auto me-n1"></i>
							  </a>
							
							</div>
							
						  </li>
                        
						  <% } %>
                    
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Navbar nav -->
                <div class="col-lg-9 d-lg-flex pt-3 pt-lg-0 ps-lg-0">
                  <ul class="navbar-nav position-relative">
                    <!-- <li class="nav-item dropdown me-lg-n1 me-xl-0">
                      <a class="nav-link active" aria-current="page" href="/" role="button" data-bs-toggle="dropdown" data-bs-trigger="hover" aria-expanded="false">Home</a>
                   
                    </li> -->
                    
                   
                    
                  </ul>
                  <hr class="d-lg-none my-3">
           
                </div>
              </div>
            </div>
          </div>
          <div class="offcanvas-header border-top px-0 py-3 mt-3 d-md-none">
            <div class="nav nav-justified w-100">
             
				<% if(login == true){ %>
				<a class="nav-link border-end" href="/myaccount">
                <i class="ci-user fs-lg opacity-60 me-2"></i>
                Account
              </a>

			  <% } else { %>
				<a class="nav-link border-end" href="/login">
					<i class="ci-user fs-lg opacity-60 me-2"></i>
					Account
				  </a>

				<% } %>
              
			  <a class="nav-link" href="/view-wishlist">
                <i class="ci-heart fs-lg opacity-60 me-2"></i>
                Wishlist
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>


    <!-- Page content -->
    <main class="content-wrapper">

      <!-- Hero slider -->
      <section class="container pt-4">
        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <div class="position-relative">
              <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark rtl-flip" style="background: linear-gradient(90deg, #accbee 0%, #e7f0fd 100%)"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark rtl-flip" style="background: linear-gradient(90deg, #1b273a 0%, #1f2632 100%)"></span>
              <div class="row justify-content-center position-relative z-2">
                <div class="col-xl-5 col-xxl-4 offset-xxl-1 d-flex align-items-center mt-xl-n3">

                  <!-- Text content master slider -->
                  <div class="swiper px-5 pe-xl-0 ps-xxl-0 me-xl-n5" data-swiper="{
                    &quot;spaceBetween&quot;: 64,
                    &quot;loop&quot;: true,
                    &quot;speed&quot;: 400,
                    &quot;controlSlider&quot;: &quot;#sliderImages&quot;,
                    &quot;autoplay&quot;: {
                      &quot;delay&quot;: 5500,
                      &quot;disableOnInteraction&quot;: false
                    },
                    &quot;scrollbar&quot;: {
                      &quot;el&quot;: &quot;.swiper-scrollbar&quot;
                    }
                  }">
                    <div class="swiper-wrapper">
                     
						<% for(i=0;i<result[1].length;i++) { %>
						<div class="swiper-slide text-center text-xl-start pt-5 py-xl-5">
                        <!-- <p class="text-body">Feel the real quality sound</p> -->
                        <h2 class="display-4 pb-2 pb-xl-4"><%=result[1][i].tagline%></h2>
                        <a class="btn btn-lg btn-primary" href="<%=result[1][i].link%>">
                          Shop now
                          <i class="ci-arrow-up-right fs-lg ms-2 me-n1"></i>
                        </a>
                      </div>
                     <% } %>
                     
                    </div>
                  </div>
                </div>

                <div class="col-9 col-sm-7 col-md-6 col-lg-5 col-xl-7">

                  <!-- Binded images (controlled slider) -->
                  <div class="swiper user-select-none" id="sliderImages" data-swiper="{
                    &quot;allowTouchMove&quot;: false,
                    &quot;loop&quot;: true,
                    &quot;effect&quot;: &quot;fade&quot;,
                    &quot;fadeEffect&quot;: {
                      &quot;crossFade&quot;: true
                    }
                  }">
                    <div class="swiper-wrapper">
                     
						<% for(i=0;i<result[1].length;i++) { %>
						
						
						<div class="swiper-slide d-flex justify-content-end">
                        <div class="ratio rtl-flip" style="max-width: 495px; --cz-aspect-ratio: calc(537 / 495 * 100%)">
                          <img src="/images/<%=result[1][i].image%>" alt="Image">
                        </div>
                      </div>

					  <% } %>
                     
                    </div>
                  </div>
                </div>
              </div>

              <!-- Scrollbar -->
              <div class="row justify-content-center" data-bs-theme="dark">
                <div class="col-xxl-10">
                  <div class="position-relative mx-5 mx-xxl-0">
                    <div class="swiper-scrollbar mb-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Features -->
      <section class="container pt-5 mt-1 mt-sm-3 mt-lg-4">
        <div class="row row-cols-2 row-cols-md-4 g-4">

          <!-- Item -->
          <div class="col">
            <div class="d-flex flex-column flex-xxl-row align-items-center">
              <div class="d-flex text-dark-emphasis bg-body-tertiary rounded-circle p-4 mb-3 mb-xxl-0">
                <i class="ci-delivery fs-2 m-xxl-1"></i>
              </div>
              <div class="text-center text-xxl-start ps-xxl-3">
                <h3 class="h6 mb-1">Free Shipping &amp; Returns</h3>
                <!-- <p class="fs-sm mb-0">For all orders over $199.00</p> -->
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="d-flex flex-column flex-xxl-row align-items-center">
              <div class="d-flex text-dark-emphasis bg-body-tertiary rounded-circle p-4 mb-3 mb-xxl-0">
                <i class="ci-credit-card fs-2 m-xxl-1"></i>
              </div>
              <div class="text-center text-xxl-start ps-xxl-3">
                <h3 class="h6 mb-1">Secure Payment</h3>
                <!-- <p class="fs-sm mb-0">We ensure secure payment</p> -->
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="d-flex flex-column flex-xxl-row align-items-center">
              <div class="d-flex text-dark-emphasis bg-body-tertiary rounded-circle p-4 mb-3 mb-xxl-0">
                <i class="ci-refresh-cw fs-2 m-xxl-1"></i>
              </div>
              <div class="text-center text-xxl-start ps-xxl-3">
                <h3 class="h6 mb-1">1 year warranty</h3>
                <!-- <p class="fs-sm mb-0">Returning money 30 days</p> -->
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="d-flex flex-column flex-xxl-row align-items-center">
              <div class="d-flex text-dark-emphasis bg-body-tertiary rounded-circle p-4 mb-3 mb-xxl-0">
                <i class="ci-chat fs-2 m-xxl-1"></i>
              </div>
              <div class="text-center text-xxl-start ps-xxl-3">
                <h3 class="h6 mb-1">Customer Support</h3>
                <p class="fs-sm mb-0">Friendly customer support</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- New arrivals (List) -->
      <section class="container pt-5 mt-1 mt-sm-2 mt-md-3 mt-lg-4">
        <h2 class="h3 pb-2 pb-sm-3">New arrivals</h2>
        <div class="row">

          <!-- Banner -->
          <div class="col-lg-4" data-bs-theme="dark">
            <div class="d-flex flex-column align-items-center justify-content-end h-100 text-center overflow-hidden rounded-5 px-4 px-lg-3 pt-4 pb-5" style="background: #1d2c41 url(/theme/assets/img/home/electronics/banner/background.jpg) center/cover no-repeat">
              <div class="ratio animate-up-down position-relative z-2 me-lg-4" style="max-width: 320px; margin-bottom: -19%; --cz-aspect-ratio: calc(690 / 640 * 100%)">
                <img src="/images/<%=result[3][0].image%>" alt="Laptop">
              </div>
              <!-- <h3 class="display-2 mb-2" style="font-size: 20px;"><%=result[3][0].name%></h3> -->
              <p class="text-body fw-medium mb-4"><%=result[3][0].name%></p>
              <a class="btn btn-sm btn-primary" href="/product?id=<%=result[3][0].id%>">
                Rs. <%=result[3][0].net_amount%>
                <i class="ci-arrow-up-right fs-base ms-1 me-n1"></i>
              </a>
            </div>
          </div>

          <!-- Product list -->
          <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-4 py-lg-4">


			<% for(i=0;i<result[3].length;i++){ %>
            <!-- Item -->
            <div class="position-relative animate-underline d-flex align-items-center ps-xl-3">
              <div class="ratio ratio-1x1 flex-shrink-0" style="width: 110px">
                <img src="/images/<%=result[3][i].image%>" alt="Smart Watch">
              </div>
              <div class="w-100 min-w-0 ps-2 ps-sm-3">
                
                <h4 class="mb-2">
                  <a class="stretched-link d-block fs-sm fw-medium text-truncate" href="/product?id=<%=result[3][i].id%>">
                    <span class="animate-target"><%=result[3][i].name%></span>
                  </a>
                </h4>
                <div class="h5 mb-0">Rs.<%=result[3][i].net_amount%></div>
              </div>
            </div>

			<% } %>
        
           
          </div>

          <!-- Product list -->
          <div class="col-sm-6 col-lg-4 d-flex flex-column gap-3 pt-3 py-lg-4">

			<% for(i=0;i<result[3].length;i++){ %>


            <!-- Item -->
            <div class="position-relative animate-underline d-flex align-items-center ps-xl-3">
              <div class="ratio ratio-1x1 flex-shrink-0" style="width: 110px">
                <img src="/images/<%=result[3][i].image%>" width="110" alt="iPad Pro">
              </div>
              <div class="w-100 min-w-0 ps-2 ps-sm-3">
              
                <h4 class="mb-2">
                  <a class="stretched-link d-block fs-sm fw-medium text-truncate" href="/product?id=<%=result[3][i].id%>">
                    <span class="animate-target"><%=result[3][i].name%></span>
                  </a>
                </h4>
                <div class="h5 mb-0">Rs.<%=result[3][i].net_amount%></div>
              </div>
            </div>

			<% } %>

          
          </div>
        </div>
      </section>


      <!-- Trending products (Grid) -->
      <section class="container pt-5 mt-2 mt-sm-3 mt-lg-4">

        <!-- Heading -->
        <div class="d-flex align-items-center justify-content-between border-bottom pb-3 pb-md-4">
          <h2 class="h3 mb-0">Trending products</h2>
          <!-- <div class="nav ms-3">
            <a class="nav-link animate-underline px-0 py-2" href="/">
              <span class="animate-target">View all</span>
              <i class="ci-chevron-right fs-base ms-1"></i>
            </a>
          </div> -->
        </div>

        <!-- Product grid -->
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 pt-4">


<% for(i=0;i<result[4].length;i++){ %>

          <!-- Item -->
          <div class="col">
            <div class="product-card animate-underline hover-effect-opacity bg-body rounded">
              <div class="position-relative">
                <div class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3">
                  <div class="d-flex flex-column gap-2">
                    


					<button type="button" onclick="addToWishlist('<%=result[4][i].id%>')" class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex" aria-label="Add to Wishlist">
                      <i class="ci-heart fs-base animate-target"></i>
                    </button>
                  
                  </div>
                </div>
                <div class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2">
                  <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More actions">
                    <i class="ci-more-vertical fs-lg"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end fs-xs p-2" style="min-width: auto">
                    <li>
                      <a class="dropdown-item" href="#!">
                        <i class="ci-heart fs-sm ms-n1 me-2"></i>
                        Add to Wishlist
                      </a>
                    </li>
                
                  </ul>
                </div>
                <a class="d-block rounded-top overflow-hidden p-3 p-sm-4" href="/product?id=<%=result[4][i].id%>">
					<% if (result[4][i].discount && result[4][i].discount > 0) { %>
						<span class="badge bg-danger position-absolute top-0 start-0 mt-2 ms-2 mt-lg-3 ms-lg-3">
						  -<%= result[4][i].discount %>%
						</span>
					  <% } %>
					  
                  <div class="ratio" style="--cz-aspect-ratio: calc(240 / 258 * 100%)">
                    <img src="/images/<%=result[4][i].image%>" alt="VR Glasses">
                  </div>
                </a>
              </div>
              <div class="w-100 min-w-0 px-1 pb-2 px-sm-3 pb-sm-3">
                <!-- <div class="d-flex align-items-center gap-2 mb-2">
                  <div class="d-flex gap-1 fs-xs">
                    <i class="ci-star-filled text-warning"></i>
                    <i class="ci-star-filled text-warning"></i>
                    <i class="ci-star-filled text-warning"></i>
                    <i class="ci-star-filled text-warning"></i>
                    <i class="ci-star text-body-tertiary opacity-75"></i>
                  </div>
                  <span class="text-body-tertiary fs-xs">(123)</span>
                </div> -->
                <h3 class="pb-1 mb-2">
                  <a class="d-block fs-sm fw-medium text-truncate" href="/product?id=<%=result[4][i].id%>">
                    <span class="animate-target"><%=result[4][i].name%></span>
                  </a>
                </h3>
                <div class="d-flex align-items-center justify-content-between">
                  <div class="h5 lh-1 mb-0">Rs.<%=result[4][i].net_amount%> <del class="text-body-tertiary fs-sm fw-normal">Rs.<%=result[4][i].price%></del></div>
                  <button type="button" onclick="addToCart('<%=result[4][i].id%>')" class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2" aria-label="Add to Cart">
                    <i class="ci-shopping-cart fs-base animate-target"></i>
                  </button>
                </div>
              </div>
              <!-- <div class="product-card-details position-absolute top-100 start-0 w-100 bg-body rounded-bottom shadow mt-n2 p-3 pt-1">
                <span class="position-absolute top-0 start-0 w-100 bg-body mt-n2 py-2"></span>
                <ul class="list-unstyled d-flex flex-column gap-2 m-0">
                  <li class="d-flex align-items-center">
                    <span class="fs-xs">Display:</span>
                    <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                    <span class="text-dark-emphasis fs-xs fw-medium text-end">OLED 1440x1600</span>
                  </li>
                  <li class="d-flex align-items-center">
                    <span class="fs-xs">Graphics:</span>
                    <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                    <span class="text-dark-emphasis fs-xs fw-medium text-end">Adreno 540</span>
                  </li>
                  <li class="d-flex align-items-center">
                    <span class="fs-xs">Sound:</span>
                    <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                    <span class="text-dark-emphasis fs-xs fw-medium text-end">2x3.5mm jack</span>
                  </li>
                  <li class="d-flex align-items-center">
                    <span class="fs-xs">Input:</span>
                    <span class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"></span>
                    <span class="text-dark-emphasis fs-xs fw-medium text-end">4 built-in cameras</span>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>

          <!-- Item -->


		  <% } %>

         
        </div>
      </section>


      <!-- Sale Banner (CTA) -->
      <section class="container pt-5 mt-sm-2 mt-md-3 mt-lg-4">
        <div class="row g-0">
          <div class="col-md-3 mb-n4 mb-md-0">
            <div class="position-relative d-flex flex-column align-items-center justify-content-center h-100 py-5">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-md-block">
                <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark" style="background-color: #accbee"></span>
                <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark" style="background-color: #1b273a"></span>
              </div>
              <div class="position-absolute top-0 start-0 w-100 h-100 d-md-none">
                <span class="position-absolute top-0 start-0 w-100 h-100 rounded-top-5 d-none-dark" style="background: linear-gradient(90deg, #accbee 0%, #e7f0fd 100%)"></span>
                <span class="position-absolute top-0 start-0 w-100 h-100 rounded-top-5 d-none d-block-dark" style="background: linear-gradient(90deg, #1b273a 0%, #1f2632 100%)"></span>
              </div>

			 
			 <% if(result[7][0].type == 'Flat'){ %>
			 
			  <div class="position-relative z-1 display-1 text-dark-emphasis text-nowrap mb-0">
                <!-- <span class="d-inline-block ms-n2">
					<span class="d-block fs-5" style="font-size: 15px;">FLAT</span>

				</span>  -->
				<%=result[7][0].amount%>
                <span class="d-inline-block ms-n2">
                  <span class="d-block fs-1">Rs.</span>
                  <span class="d-block fs-5">OFF</span>
                </span>
              </div>


			  <% } else { %>


				<div class="position-relative z-1 display-1 text-dark-emphasis text-nowrap mb-0">
					<%=result[7][0].amount%>
					<span class="d-inline-block ms-n2">
					  <span class="d-block fs-1">%</span>
					  <span class="d-block fs-5">OFF</span>
					</span>
				  </div>

				<% } %>
            </div>
          </div>
          <div class="col-md-9 position-relative">
            <div class="position-absolute top-0 start-0 h-100 overflow-hidden rounded-pill z-2 d-none d-md-block" style="color: var(--cz-body-bg); margin-left: -2px">
              <svg width="4" height="436" viewBox="0 0 4 436" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 0L1.99998 436" stroke="currentColor" stroke-width="3" stroke-dasharray="8 12" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="position-relative">
              <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark rtl-flip" style="background: linear-gradient(90deg, #accbee 0%, #e7f0fd 100%)"></span>
              <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark rtl-flip" style="background: linear-gradient(90deg, #1b273a 0%, #1f2632 100%)"></span>
              <div class="row align-items-center position-relative z-2">
                <div class="col-md-6 mb-3 mb-md-0">
                  <div class="text-center text-md-start py-md-5 px-4 ps-md-5 pe-md-0 me-md-n5">
                    <h3 class="text-uppercase fw-bold ps-xxl-3 pb-2 mb-1"><%=result[7][0].title%></h3>
                    <p class="text-body-emphasis ps-xxl-3 mb-0">Use code <span class="d-inline-block fw-semibold bg-white text-dark rounded-pill py-1 px-2"><%=result[7][0].name%></span> to get best offer</p>
                  </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end pb-5 pb-md-0">
                  <div class="me-xxl-4">
                    <img src="/theme/assets/img/home/electronics/banner/camera.png" class="d-block rtl-flip" width="420" alt="Camera">
                    <div class="d-none d-lg-block" style="margin-bottom: -9%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block" style="padding-bottom: 3%"></div>
      </section>


      <!-- Special offers (Carousel) -->
      <section class="container pt-5 mt-2 mt-sm-3 mt-lg-4">

        <!-- Heading + Countdown -->
        <div class="d-flex align-items-start align-items-md-center justify-content-between border-bottom pb-3 pb-md-4">
          <div class="d-md-flex align-items-center">
            <h2 class="h3 pe-3 me-3 mb-md-0">Special offers for you</h2>

            <!-- Replace "demoDate" inside data-countdown-date attribute with the real date, ex: "10/15/2025 12:00:00" -->
            <!-- <div class="d-flex align-items-center" data-countdown-date="demoDate">
              <div class="btn btn-primary pe-none px-2">
                <span data-days=""></span>
                <span>d</span>
              </div>
              <div class="animate-blinking text-body-tertiary fs-lg fw-medium mx-2">:</div>
              <div class="btn btn-primary pe-none px-2">
                <span data-hours=""></span>
                <span>h</span>
              </div>
              <div class="animate-blinking text-body-tertiary fs-lg fw-medium mx-2">:</div>
              <div class="btn btn-primary pe-none px-2">
                <span data-minutes=""></span>
                <span>m</span>
              </div>
            </div> -->
          </div>
          <!-- <div class="nav ms-3">
            <a class="nav-link animate-underline px-0 py-2" href="/">
              <span class="animate-target text-nowrap">View all</span>
              <i class="ci-chevron-right fs-base ms-1"></i>
            </a>
          </div> -->
        </div>

        <!-- Product carousel -->
        <div class="position-relative mx-md-1">

          <!-- External slider prev/next buttons visible on screens > 500px wide (sm breakpoint) -->
          <button type="button" class="offers-prev btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-start position-absolute top-50 start-0 z-2 translate-middle-y ms-n1 d-none d-sm-inline-flex" aria-label="Prev">
            <i class="ci-chevron-left fs-lg animate-target"></i>
          </button>
          <button type="button" class="offers-next btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-end position-absolute top-50 end-0 z-2 translate-middle-y me-n1 d-none d-sm-inline-flex" aria-label="Next">
            <i class="ci-chevron-right fs-lg animate-target"></i>
          </button>

          <!-- Slider -->
          <div class="swiper py-4 px-sm-3" data-swiper="{
            &quot;slidesPerView&quot;: 2,
            &quot;spaceBetween&quot;: 24,
            &quot;loop&quot;: true,
            &quot;navigation&quot;: {
              &quot;prevEl&quot;: &quot;.offers-prev&quot;,
              &quot;nextEl&quot;: &quot;.offers-next&quot;
            },
            &quot;breakpoints&quot;: {
              &quot;768&quot;: {
                &quot;slidesPerView&quot;: 3
              },
              &quot;992&quot;: {
                &quot;slidesPerView&quot;: 4
              }
            }
          }">
            <div class="swiper-wrapper">


				<% for(i=0;i<result[8].length;i++) { %>
					              <!-- Item -->
              <div class="swiper-slide">
                <div class="product-card animate-underline hover-effect-opacity bg-body rounded">
                  <div class="position-relative">
                    <div class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3">
                      <div class="d-flex flex-column gap-2">
                       
						<button type="button" onclick="addToWishlist('<%=result[8][i].id%>')" class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex" aria-label="Add to Wishlist">
                          <i class="ci-heart fs-base animate-target"></i>
                        </button>
                        
						<!-- <button type="button" class="btn btn-icon btn-secondary animate-rotate d-none d-lg-inline-flex" aria-label="Compare">
                          <i class="ci-refresh-cw fs-base animate-target"></i>
                        </button> -->
                      </div>
                    </div>
                    <div class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2">
                      <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More actions">
                        <i class="ci-more-vertical fs-lg"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end fs-xs p-2" style="min-width: auto">
                        <li>
                          <a class="dropdown-item" href="#!">
                            <i class="ci-heart fs-sm ms-n1 me-2"></i>
                            Add to Wishlist
                          </a>
                        </li>
                        <!-- <li>
                          <a class="dropdown-item" href="#!">
                            <i class="ci-refresh-cw fs-sm ms-n1 me-2"></i>
                            Compare
                          </a>
                        </li> -->
                      </ul>
                    </div>
                    <a class="d-block rounded-top overflow-hidden p-3 p-sm-4" href="/product?id=<%=result[8][i].id%>">
                      <div class="ratio" style="--cz-aspect-ratio: calc(240 / 258 * 100%)">
                        <img src="/images/<%=result[8][i].image%>" alt="Wireless Buds">
                      </div>
                    </a>
                  </div>
                  <div class="w-100 min-w-0 px-1 pb-2 px-sm-3 pb-sm-3">
                    <!-- <div class="d-flex align-items-center gap-2 mb-2">
                      <div class="d-flex gap-1 fs-xs">
                        <i class="ci-star-filled text-warning"></i>
                        <i class="ci-star-filled text-warning"></i>
                        <i class="ci-star-filled text-warning"></i>
                        <i class="ci-star-filled text-warning"></i>
                        <i class="ci-star-half text-warning"></i>
                      </div>
                      <span class="text-body-tertiary fs-xs">(14)</span>
                    </div> -->
                    <h3 class="pb-1 mb-2">
                      <a class="d-block fs-sm fw-medium text-truncate" href="/product?id=<%=result[8][i].id%>">
                        <span class="animate-target"><%=result[8][i].name%></span>
                      </a>
                    </h3>
                    <div class="d-flex align-items-center justify-content-between pb-2 mb-1">
                      <div class="h5 lh-1 mb-0">Rs.<%=result[8][i].net_amount%> <del class="text-body-tertiary fs-sm fw-normal">Rs.<%=result[8][i].price%></del></div>
                      <button type="button" onclick="addToCart('<%=result[8][i].id%>')" class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2" aria-label="Add to Cart">
                        <i class="ci-shopping-cart fs-base animate-target"></i>
                      </button>
                    </div>
                    <div class="progress mb-2" role="progressbar" aria-label="Available in stock" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 4px">
                      <div class="progress-bar rounded-pill" style="width: 25%"></div>
                    </div>
                  </div>
                </div>
              </div>

			  <% } %>
            
            </div>
          </div>

          <!-- External slider prev/next buttons visible on screens < 500px wide (sm breakpoint) -->
          <div class="d-flex justify-content-center gap-2 mt-n2 mb-3 pb-1 d-sm-none">
            <button type="button" class="offers-prev btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-start me-1" aria-label="Prev">
              <i class="ci-chevron-left fs-lg animate-target"></i>
            </button>
            <button type="button" class="offers-next btn btn-icon btn-outline-secondary bg-body rounded-circle animate-slide-end" aria-label="Next">
              <i class="ci-chevron-right fs-lg animate-target"></i>
            </button>
          </div>
        </div>
      </section>


      <!-- Brands -->
      <!-- <section class="container pt-4 pt-md-5 pb-5 mt-sm-2 mb-2 mb-sm-3 mb-md-4 mb-lg-5">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3 g-md-4 g-lg-3 g-xl-4">
          <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="/">
              <img src="/theme/assets/img/shop/electronics/brands/apple-light-mode.svg" class="d-none-dark" alt="Apple">
              <img src="/theme/assets/img/shop/electronics/brands/apple-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="/">
              <img src="/theme/assets/img/shop/electronics/brands/motorola-light-mode.svg" class="d-none-dark" alt="Apple">
              <img src="/theme/assets/img/shop/electronics/brands/motorola-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="/">
              <img src="/theme/assets/img/shop/electronics/brands/canon-light-mode.svg" class="d-none-dark" alt="Apple">
              <img src="/theme/assets/img/shop/electronics/brands/canon-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="/">
              <img src="/theme/assets/img/shop/electronics/brands/samsung-light-mode.svg" class="d-none-dark" alt="Apple">
              <img src="/theme/assets/img/shop/electronics/brands/samsung-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary w-100 rounded-4 p-3" href="/">
              <img src="/theme/assets/img/shop/electronics/brands/sony-light-mode.svg" class="d-none-dark" alt="Apple">
              <img src="/theme/assets/img/shop/electronics/brands/sony-dark-mode.svg" class="d-none d-block-dark" alt="Apple">
            </a>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary w-100 h-100 rounded-4 p-3" href="shop-categories-electronics.html">
              All brands
              <i class="ci-plus-circle fs-base ms-2"></i>
            </a>
          </div>
        </div>
      </section> -->


      <!-- Subscription form + Vlog -->
      <!-- <section class="bg-body-tertiary py-5">
        <div class="container pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5">
          <div class="row">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
              <h2 class="h4 mb-2">Sign up to our newsletter</h2>
              <p class="text-body pb-2 pb-ms-3">Receive our latest updates about our products &amp; promotions</p>
              <form class="d-flex needs-validation pb-1 pb-sm-2 pb-md-3 pb-lg-0 mb-4 mb-lg-5" novalidate="">
                <div class="position-relative w-100 me-2">
                  <input type="email" class="form-control form-control-lg" placeholder="Your email" required="">
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Subscribe</button>
              </form>
              <div class="d-flex gap-3">
                <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="Instagram">
                  <i class="ci-instagram fs-base"></i>
                </a>
                <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="Facebook">
                  <i class="ci-facebook fs-base"></i>
                </a>
                <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="YouTube">
                  <i class="ci-youtube fs-base"></i>
                </a>
                <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="Telegram">
                  <i class="ci-telegram fs-base"></i>
                </a>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1 offset-xl-2">
              <ul class="list-unstyled d-flex flex-column gap-4 ps-md-4 ps-lg-0 mb-3">
                <li class="nav flex-nowrap align-items-center position-relative">
                  <img src="/theme/assets/img/home/electronics/vlog/01.jpg" class="rounded" width="140" alt="Video cover">
                  <div class="ps-3">
                    <div class="fs-xs text-body-secondary lh-sm mb-2">6:16</div>
                    <a class="nav-link fs-sm hover-effect-underline stretched-link p-0" href="#!">5 New Cool Gadgets You Must See on Cartzilla - Cheap Budget</a>
                  </div>
                </li>
                <li class="nav flex-nowrap align-items-center position-relative">
                  <img src="/theme/assets/img/home/electronics/vlog/02.jpg" class="rounded" width="140" alt="Video cover">
                  <div class="ps-3">
                    <div class="fs-xs text-body-secondary lh-sm mb-2">10:20</div>
                    <a class="nav-link fs-sm hover-effect-underline stretched-link p-0" href="#!">5 Super Useful Gadgets on Cartzilla You Must Have in 2023</a>
                  </div>
                </li>
                <li class="nav flex-nowrap align-items-center position-relative">
                  <img src="/theme/assets/img/home/electronics/vlog/03.jpg" class="rounded" width="140" alt="Video cover">
                  <div class="ps-3">
                    <div class="fs-xs text-body-secondary lh-sm mb-2">8:40</div>
                    <a class="nav-link fs-sm hover-effect-underline stretched-link p-0" href="#!">Top 5 New Amazing Gadgets on Cartzilla You Must See</a>
                  </div>
                </li>
              </ul>
              <div class="nav ps-md-4 ps-lg-0">
                <a class="btn nav-link animate-underline text-decoration-none px-0" href="#!">
                  <span class="animate-target">View all</span>
                  <i class="ci-chevron-right fs-base ms-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>

	<%- include ('./footer1.ejs') %>

  <%- include ('./footer.ejs') %>
